@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-Login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-Login {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-Login > h1 {
  color: #77ffc0;
  font-size: 3vw;
}

.left-Login-Image {
  width: 40vw;
  height: 70vh;
}

.right-Login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-Login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-Login > h1 {
  color: #00ff88;
  font-weight: 600;
  margin: 0;
}

.textField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0px;
}
.textField > input {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
}

.textField > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textField > input::placeholder {
  color: #f0ffff94;
}

.btn-Login {
  width: 80%;
  padding: 15px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.0rem;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  transition: all 0.3s ease;
}

.btn-Login:hover {
  background: rgb(124, 248, 186);
}

@media only screen and (max-width: 950px) {
  .card-Login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-Login {
    flex-direction: column;
  }

  .left-Login > h1 {
    display: none;
  }

  .left-Login {
    width: 100%;
    height: 30%;
  }

  .right-Login {
    width: 100%;
    height: 67%;
  }
  .card-Login {
    width: 95%;
    height: 40rem;
    margin-top: 6rem;
  }

  .left-Login-Image {
    width: 15rem;
    height: 31rem;
  }
}
